h1{
  color:teal;
}
  
h2{
  color: gold;
}

p{
  text-align:center;
}
h1,h2,footer,p{
  text-align: center;
}
#controls {
  text-align: center;
}
#confetti {
  background: transparent;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
#reset {
  color:gold;
  background: teal;
  padding:10px;
}
#instructions {
  display: none;
}
#message {
  font-size: 50px;
  color:teal;
  margin: 40px 0;
}
.board{
  display: block;
  height: 80%;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  overflow: hidden;
}
@media (max-width: 650px) {
  .board {
    width: 330px;
  }
}
.card{
  float: left;
  height: 228px;
  width: 150px;
  border: 1px solid #000000;
  background-color: rgb(255,255,0);
  border-radius: 10px;
  margin:0 10px 10px 0;
  background: url(card0.jpg) no-repeat;
  background-size: cover;
}
.card:nth-child(5) {
  clear: left;
}
.card img {
  width: 100%;
  height: 100%;
}
.name {
  color: #ff0000;
}
span{
  color:red;
}
nav{
   background-color:#808080;
}
nav a{
  background-color:#ffbf00;
  color:white;
  padding:35px;
  display:block;
  float:left;
}
a:hover {
    color:#ee5f3c;
}
.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }

footer{
  clear: left;
  background-color:#808080;
}
